# path:       /home/klassiker/.local/share/repos/mrdotx.github.io/.gitignore
# author:     klassiker [mrdotx]
# github:     https://github.com/mrdotx/mrdotx.github.io
# date:       2020-08-31T17:29:51+0200


